/*!! ⚠️ ALERT : DO NOT FORMAT THIS PAGE ⚠️ !!*/

/* === Import Section === */
@import "tailwindcss";

:root {

    /* == BACKGROUND == */
    --bg-main: #F2F2F7;
    --bg-main-rgb: 242, 242, 247;

    --bg-card: #FDFDFD;
    --bg-card-rgb: 253, 253, 253;


    /* == TEXT == */
    --text-primary: #1E1E1E;
    --text-primary-rgb: 30, 30, 30;


    /* == PRIMARY == */
    --color-primary: #1a56c2;
    --color-primary-rgb: 26, 86, 194;


    /* == STATUS == */
    --color-success: #27C45F;
    --color-success-rgb: 39, 196, 95;

    --color-danger: #EE4646;
    --color-danger-rgb: 238, 70, 70;

    --color-orange: #F59E0B;
    --color-orange-rgb: 245, 158, 11;

    --color-alert: #FD736F;
    --color-alert-rgb: 253, 115, 111;

    /* == SHADOW == */
    --shadow-lg: 0 1px 16px -2px rgba(30, 30, 30, 0.25);
    --shadow-button: 0 4px 8px -2px rgba(26, 86, 194, 0.25);

}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--bg-main);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.device {
    border-radius: 99px;
    border: 0.5px solid var(--color-primary);
    background: var(--bg-card);
    box-shadow: 
        inset 0 4px 8px -2px rgba(var(--color-primary-rgb), 0.25),
        0 1px 16px -2px rgba(var(--color-primary-rgb), 0.25);
}

.calculate {
    border-radius: 99px;
    border: 0.5px solid var(--color-success);
    background: var(--bg-card);
    box-shadow: 
        inset 0 4px 8px -2px rgba(var(--color-success-rgb), 0.25),
        0 1px 16px -2px rgba(var(--color-success-rgb), 0.25);
}

.notifications {
    border-radius: 99px;
    border: 0.5px solid var(--color-danger);
    background: var(--bg-card);
    box-shadow: 
        inset 0 4px 8px -2px rgba(var(--color-danger-rgb), 0.25),
        0 1px 16px -2px rgba(var(--color-danger-rgb), 0.25);
}